export(enetLTS, cv.enetLTS, print.enetLTS, predict.enetLTS, residuals.enetLTS, weights.enetLTS,
       nonzeroCoef.enetLTS, fitted.enetLTS, plot.enetLTS, plotCoef.enetLTS, plotDiagnostic.enetLTS,
       plotResid.enetLTS, lambda00)

import(ggplot2)
import(grid)
import(glmnet)
import(reshape)
import(robustHD)
import(stats)
import(parallel)

importFrom("cvTools", "cvFolds")
importFrom("graphics", "par")
importFrom("grDevices", "colorRampPalette")


S3method(coef, enetLTS)
S3method(fitted, enetLTS)
S3method(predict, enetLTS)
S3method(print, enetLTS)
S3method(residuals, enetLTS)
S3method(weights, enetLTS)
S3method(plot, enetLTS)

